<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/JyotiK/Selenium_Practice/DataDrivenFramework/src"><classes><class name="com.w2a.testcases.LoginTest"><methods><include name="loginAsBankMgr"/></methods></class></classes></test></suite>